name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.65.0
        components: "clippy, rustfmt"
    - uses: swatinem/rust-cache@v1
    - name: fmt
      run: cargo fmt --all -- --check
    - name: clippy
      run: cargo --locked clippy --all-targets -- -D warnings
    - name: Build
      run: cargo build --locked --verbose
    - name: Run tests
      run: cargo test --all-features --locked --verbose
